---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import FeatureCard from "@/components/mdx/FeatureCard.astro";
import GitHubStats from "@/components/mdx/GitHubStats.astro";
---

<BaseLayout title="Home">
  <MainCard
    title="欢迎来到我的小站！"
    description="随机的风景图！刷新一下试试吧φ(゜▽゜*)♪"
    backgroundImage="https://tu.ltyuanfang.cn/api/fengjing.php"
    infoIcon="lucide:info"
  >
    <div class="text-center py-12">
      <h1 class="text-3xl sm:text-4xl font-bold mb-8">
        互联网那么大，感谢你来到这里！
      </h1>
      
      <p class="text-xl text-base-content/80">
        这里是<span class="text-blue-500">Fanzhuo</span>ヾ(◍°∇°◍)ﾉﾞ
      </p>
      
      <p class="text-xl text-base-content/80">
        去逛逛这个小站吧！
      </p>
    </div>
  </MainCard>
</BaseLayout>
