---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import FeatureCard from "@/components/mdx/FeatureCard.astro";
import GitHubStats from "@/components/mdx/GitHubStats.astro";
import LinkCard from "@/components/mdx/LinkCard.astro";
---

<BaseLayout title="Home">
  <MainCard
    title="欢迎来到我的小站！"
    description="随机的风景图！刷新一下试试吧φ(゜▽゜*)♪"
    image = "https://tu.ltyuanfang.cn/api/fengjing.php"
    infoIcon="lucide:info"
  >
    <div class="text-center py-12">
      <h1 class="text-3xl sm:text-4xl font-bold mb-8">
        互联网那么大，感谢你来到这里！
      </h1>
      
      <p class="text-xl text-base-content/80">
        这里是 <span class="text-primary font-bold hover:text-primary-focus">Fanzhuo</span> ヾ(◍°∇°◍)ﾉﾞ
      </p>
      
      <p class="text-xl text-base-content/80">
        去逛逛这个小站吧！
      </p>
      <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
      <p class="text-xl text-base-content/80">
        <span id="jinrishici-sentence" class="font-bold">欲买桂花同载酒，终不似，少年游。</span>
      </p>
    </div>
    <section class="py-6">
      <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
        <Icon name="lucide:compass" class="w-6 h-6 text-primary" />
        <span>导航</span>
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <LinkCard
          title="博客"
          desc="我的开发日志、生活随笔与算法浅谈。"
          url="/blog"
          icon="lucide:book"
        />

        <LinkCard
          title="关于"
          desc="我与本站"
          url="/about"
          icon="lucide:user"
        />

      </div>
    </section>
  </MainCard>
</BaseLayout>