---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import GitHubStats from "@/components/mdx/GitHubStats.astro";
import RepositoryCard from "@/components/mdx/RepositoryCard.astro";
---

<BaseLayout title="Projects">
  <MainCard
    title="作品"
    description="展示我在 GitHub 上的开源项目或贡献。"
    image = "https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAOTaVCw6HzQlp5nYj5JjPl0OrfunfoAAsYLaxtWrYhWooT4sO_N3HQBAAMCAAN3AAM2BA.png"
    infoIcon="lucide:code-2"
  >

    <!-- My Repositories -->
    <section class="py-4">
      <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
        <Icon name="lucide:folder" class="w-6 h-6 text-primary" />
        <span>项目</span>
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <RepositoryCard repo="fanzhuoAWA/fanzhuoweb" />
        <RepositoryCard repo="fanzhuoAWA/FanzhuoCodeLibrary" />
        <RepositoryCard repo="purinliang/ArcticAria" />
        <RepositoryCard repo="fanzhuoAWA/new_fanzhuo" />
        <RepositoryCard repo="fanzhuoAWA/Uwezto-e-Sanatian" />
      </div>

      <div class="flex justify-center mt-10">
        <a
          href="https://github.com/fanzhuoAWA"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-outline gap-2"
        >
          <Icon name="lucide:github" class="w-5 h-5" />
          <span>在Github上查看</span>
        </a>
      </div>
    </section>
  </MainCard>
</BaseLayout>
